<html>
<head>
<title>shukan_hyouka</title>
<meta charset="utf-8">

</head>
<body>
    <h1>主観評価</h1>
    <li>顔画像と音声が適当かどうかの親和性の評価をお願いします．</li>
    <li>顔画像を見た上で，音声を聞き，その音声が顔画像に相応しいか４段階で評価してください．</li>
    <li>また，音声の品質は考慮せず，親和性のみに着目して評価をお願いします．</li>
    <li>最初のページは，練習用です．ここで，適切な音声に調節をお願いします．</li>
    <li>練習は実際の評価に含まれていません</li>
    <li>親和性の評価では，”ふさわしくない”，”ややふさわしくない”，”ややふさわしい”，”ふさわしい”の４段階で評価をしてください．</li>
    <li>「次に進む」を押すと本番になります</li>

    <br>
    <br>
    <hr>
    <h1>1</h1>
    <figure>
        <img class="lazy" src="media/1/target_img_FN_ kiti_wav__19M__sx324/19M_from_35M_sx324.jpg" width="300" height="300" alt='1'/>
        <audio controls src="media/1/target_img_FN_ kiti_wav__19M__sx324/19M_from_35M_sx324.wav">
        
    </figure>
        <p>評価<br>
            <input type="radio" name="a" value=1> ふさわしくない
            <input type="radio" name="a" value=2> ややふさわしくない
            <input type="radio" name="a" value=3> ややふさわしい
            <input type="radio" name="a" value=4> ふさわしい
        </p>
    <br>
    <hr>

    <h1>2</h1>

    <figure>
        <img class="lazy" src="media/1/source_img_source_kiti_wav__12M__sx324/12M_from_12M_sx324.jpg" width="300" height="300" alt='1'/>
        <audio controls src="media/1/source_img_source_kiti_wav__12M__sx324/12M_from_12M_sx324.wav">
        
    </figure>
        <p>評価<br>
            <input type="radio" name="b" value=1> ふさわしくない
            <input type="radio" name="b" value=2> ややふさわしくない
            <input type="radio" name="b" value=3> ややふさわしい
            <input type="radio" name="b" value=4> ふさわしい
        </p>
    <br>
    <hr>

    <h1>3</h1>

    <figure>
        <img class="lazy" src="media/1/target_img_source_kiti_wav__40F__sx427/28M_from_28M_sx427.jpg" width="300" height="300" alt='1'/>
        <audio controls src="media/1/target_img_source_kiti_wav__40F__sx427/28M_from_28M_sx427.wav">
        
    </figure>
        <p>評価<br>
            <input type="radio" name="c" value=1> ふさわしくない
            <input type="radio" name="c" value=2> ややふさわしくない
            <input type="radio" name="c" value=3> ややふさわしい
            <input type="radio" name="c" value=4> ふさわしい
        </p>
    <br>
    <hr>




    <a href="/next">次に進む</a>
</body>
</html>